# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 비공개 콘텐츠
캐릭터스킬 원고 